.sticky {
	display: block;
}

.sec-title {
	position: relative;
	display: block;
	// padding-bottom: 7px;
	margin-bottom: 1rem;
	font-family: "Bungee";
	font-size: 1.2rem;
	text-transform: uppercase;
	z-index: 100;
    color: #044786;
	// color: $color__background-header;

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 218px;
		padding: 5px 0;
		background-color: $color__orange;
		z-index: -1;
	}
}

.sticky-post {
	background: $color__background-button;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	padding: .25rem;
	position: absolute;
	text-transform: uppercase;
	top: -$size__spacing-unit;
	z-index: 1;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 calc(1.5 * #{$size__spacing-unit});
}

.sticky-banner {
	.entry.sticky {
		position: relative;
		.entry-description {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			color: #ffffff;
			border-bottom-left-radius: $border-radius-img;
			border-bottom-right-radius: $border-radius-img;
			padding: .4rem 1rem;
			background: linear-gradient(180deg, rgba(0,0,0,0) 64.5% , #000000 100%);
			.posted-on time {
				color: #ffffff;
			}
		}
	}
}

.entry {

	margin-bottom: 1rem;

	&:first-of-type {
		margin-top: 0;
	}

	.entry-header {
		position: relative;

		&.sticky-header {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 1rem;
			background-color: rgba(#000000, 0.8);
			.entry-title a {
				color: #ffffff;
			}
		}

	}

	.entry-title {

		margin-top: .6rem;
		font-size: 1rem;

		a {
			color: inherit;

			// &:hover {
			// 	color: $color__text-hover;
			// }
		}
	}



	.entry-meta,
	.entry-footer {

		color: $color__text-light;
		font-weight: 500;

		> span {

			margin-right: $size__spacing-unit;
			display: inline-block;

			&:last-child {
				margin-right: 0;
			}
		}

		a {

			@include link-transition;
			color: currentColor;

			&:hover {
				text-decoration: none;
				color: $color__link;
			}
		}

		.svg-icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.5em;
		}
	}

	.entry-meta {
		margin: $size__spacing-unit 0;
	}

	.entry-footer {

		margin: calc(2 * #{$size__spacing-unit}) $size__spacing-unit $size__spacing-unit;

		@include media(tablet) {
			margin: $size__spacing-unit $size__site-margins calc(3 * #{$size__spacing-unit});
			max-width: $size__site-tablet-content;
		}

		@include media(tablet) {
			max-width: $size__site-desktop-content;
		}
	}

	.post-thumbnail {

		// margin: $size__spacing-unit;

		@include media(tablet) {
			// margin: $size__spacing-unit $size__site-margins;
		}

		&:focus {
			outline: none;
		}

		img {
			display: block;
			width: 100%;
			border-radius: $border-radius-img;
			transition: transform .6s;
		}
		.post-thumbnail-inner {
			display: block;
			position: relative;

		}
	}

	.image-filters-enabled & {

		.post-thumbnail {
			position: relative;
			display: block;

			// .post-thumbnail-inner {
				// filter: grayscale(100%);

				// &:after {
				// 	background: rgba(0, 0, 0, 0.35);
				// 	content: "";
				// 	display: block;
				// 	height: 100%;
				// 	opacity: .5;
				// 	pointer-events: none;
				// 	position: absolute;
				// 	top: 0;
				// 	width: 100%;
				// 	z-index: 4;

				// 	@supports (mix-blend-mode: multiply) {
				// 		display: none;
				// 	}
				// }
			// }

			// &:before,
			// &:after {
			// 	position: absolute;
			// 	display: block;
			// 	width: 100%;
			// 	height: 100%;
			// 	top: 0; left: 0;
			// 	content: "\020";
			// 	pointer-events: none;
			// }

			// @include filter-duotone;

		}
	}

	// .entry-content,
	// .entry-summary {
	// 	max-width: calc(100% - (2 * #{ $size__spacing-unit }));
	// 	margin: 0 $size__spacing-unit;

	// 	@include media(tablet) {
	// 		max-width: 80%;
	// 		margin: 0 10%;
	// 		padding: 0 60px;
	// 	}
	// }

	.entry-content {

		p {
			word-wrap: break-word;
		}

		ul {
			display: block;
			list-style-type: disc;
			-webkit-margin-before: 1em;
			-webkit-margin-after: 1em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			-webkit-padding-start: 40px;
		}

		.more-link {
			@include link-transition;
			display: inline;
			color: inherit;

			&:after {
				content: "\02192";
				display: inline-block;
				margin-left: 0.5em;
			}

			&:hover {
				color: $color__link;
				text-decoration: none;
			}
		}

		a {
			text-decoration: underline;
			color: #044786;
			font-weight: 500;

			&.button {
				text-decoration: none;
			}

			&.button {
				display: inline-block;
			}

			&.button:hover {
				background: $color__background-button-hover;
				color: $color__background-body;
				cursor: pointer;
			}
		}

		// Overwrite iframe embeds that have inline styles.
		> iframe[style] {

			margin: 32px 0 !important;
			max-width: 100% !important;

			@include media(tablet) {
				max-width: $size__site-tablet-content !important;
			}

			@include media(desktop) {
				max-width: $size__site-desktop-content !important;
			}
		}

		// Page links
		.page-links a {
			margin: calc(0.5 * #{$size__spacing-unit});
			text-decoration: none;
		}

		// Classic editor audio embeds.
		.wp-audio-shortcode {
			max-width: calc(100vw - (2 * #{ $size__spacing-unit }));

			@include media(tablet) {
				max-width: $size__site-tablet-content;
			}

			@include media(desktop) {
				max-width: $size__site-desktop-content;
			}
		}
	}
}

.article-categories {
	.post-categories {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
		font-family: "Bungee";
		font-size: .6rem;
	}

	li {
		&:not(:last-of-type) {
			padding-right: 10px;
		}
		a {
			color: #FE7A0A;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.single-post .article-categories {
	display: inline-block;
	.post-categories {
		font-size: 0.7rem;
	}
}

.posted-on {
	display: block;
	color: #939393cf;
	font-size: .8rem;
}

.main-post .posted-on {
	display: inline-block;
}


.author-bio {
	margin: calc(2 * #{$size__spacing-unit}) $size__spacing-unit $size__spacing-unit;

	@include postContentMaxWidth();

	@include media(tablet) {
		margin: calc(3 * #{$size__spacing-unit}) $size__site-margins;
	}

	@include media(desktop) {
		margin: calc(3 * #{$size__spacing-unit}) $size__site-margins;
	}

	.author-title {
		@include post-section-dash;
		display: inline;
	}

	.author-description {

		display: inline;
		color: $color__text-light;
		font-size: $font__size-md;
		line-height: $font__line-height-heading;

		.author-link {
			display: inline-block;

			&:hover {
				color: $color__link-hover;
				text-decoration: none;
			}
		}
	}
}


#carousel-post-sticky {
	.carousel-indicators { 
		margin-bottom: 0;
		li {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $color__text-hover;
			border-top: none;
			border-bottom: none;
		}
	}
}

.home .format-link .entry-content {
	margin: 0;
	padding: 0;
	max-width: initial;
	font-size: 0.8rem;
	color: grey;

	& > * {
		margin: 0;
	}
}

.format-link a:hover .entry-title {
	text-decoration: underline;
}

.single-post {
	.main-post .entry .entry-title {
		font-family: "Bungee";
		font-size: 1.5rem;
	}

	.post-thumbnail {
		margin-bottom: 1rem;
	}
}
