// Responsive widths.

$size__spacing-unit: 1rem;
$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-margins: calc(10% + 60px);
$size__site-tablet-content: calc(8 * (100vw / 12) - 28px);
$size__site-desktop-content: calc(6 * (100vw / 12) - 28px);
$size__header-menu-item-parent-text-unit: 0.7;
$size__header-menu-item-parent-vertical-padding-unit: 0.6;
$size__header-brand-container-padding-unit: 0.2;
$site__logo-height-size-px: 60;

// Responsive widths.

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;
$show_expandable_width: 1000px;

