@font-face {
    font-family: 'Bungee';
    src: url('./fonts/Bungee-Regular.eot');
    src: url('./fonts/Bungee-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Bungee-Regular.woff2') format('woff2'),
        url('./fonts/Bungee-Regular.woff') format('woff'),
        url('./fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: $font__size_base;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color__text-main;
	@include font-family( $font__body );
	font-weight: 400;
	font-size: 1em;
	line-height: $font__line-height-body;
	margin: 0;
	text-rendering: optimizeLegibility;
}

button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	@include font-family( $font__body );
	font-weight: 400;
	line-height: $font__line-height-body;
	text-rendering: optimizeLegibility;
}

@import "headings";

@import "copy";
