// Site header

.site-header {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    box-shadow: $header-shadow;

	.site-branding-container {
		position: relative;
		background-color: $color__background-header;
		padding: #{$size__header-brand-container-padding-unit}rem 0;

		#menu__expander,#menu__search {
			position: absolute;
			top: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			
		}
		#menu__expander {
			left: 0;
			@media only screen and (min-width: $show_expandable_width) {
				& {
					display: none;
				}
			}
			.menu__expander-link {
				color: #ffffff;
				padding: 0.2rem 0.5rem ;
			}
		}
		#menu__search {
			right: 0;
			.menu__search-link {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 36px;
				height: 36px;
				color: #ffffff;
				margin-right: 13px;
				border-radius: 50%;
				text-align: center;
				transition: all $button_transition linear;
				&:hover {
					background-color: #ffffff1c;
				}
			}
		}
	}

	&.featured-image {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 90vh;

		.site-branding-container {
			margin-bottom: auto;
		}
	}

	@include media(tablet) {
		margin: 0;
		// padding: 3rem 0;

		&.featured-image {
			min-height: 100vh;
			margin-bottom: 3rem;
		}
	}
}

// Site branding

.site-branding {

	color: $color__text-light;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	position: relative;
	word-wrap: break-word;

	@include media(tablet) {
		margin: 0 $size__site-margins;
	}
}

// Site logo

.site-logo {

	text-align: center;



	@include media(tablet) {

	}

	.custom-logo-link {

		.custom-logo {
			min-height: inherit;
		}
	}
}

// Site title

.site-title {
	margin: auto;
	display: inline;
	color: $color__text-main;

	a {
		color: $color__text-main;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}

	.featured-image & {
		margin: 0;

		@include media(tablet) {
			display: inline-block;
		}
	}

	/* When there is no description set, make sure navigation appears below title. */
	+ .main-navigation {
		display: block;
	}

	@include media(tablet) {
		display: inline;
	}

	&:not(:empty) + .site-description:not(:empty):before {
		content: "\2014";
		margin: 0 .2em;
	}
}

// Site description

.site-description {

	display: inline;
	color: $color__text-light;
	font-weight: normal;
	margin: 0;
}
