/* Site footer */

.site-footer {
	background-color: $color__background-header;
	padding-top: 1rem;
	color: #ffffff;

	.site-footer-bottom {
		padding: .5rem 0;
		background-color: rgba(#000000, 0.1);
		margin-bottom: 0;
	}

	.widget {
		ul {
			margin: 0;
			padding: 0;
		}
		.widgettitle {
			display: block;
			margin-bottom: 0.5rem;
			font-size: .7rem ;
			color: #ffffff;
			text-transform: uppercase;
			::before {
				display: none;
			}
		}

		&.widget_media_image  {
			margin-bottom: 0;
		}

		&.widget_contactinformation_widget {
			.ciw_company_name, .ciw_contact_address, i, a {
				color: #ffffff;
			}

			.ciw_contact_address {
				padding-top: 0;
			}
			.ciw_contact_address, .ciw_contact_phone, .ciw_contact_email {
				font-size: 0.7rem;
			}
			.ciw_contactinformation {
				float: none;
			}
		}

		&.widget_nav_menu {
			.menu-item > a {
				display: inline-block;
				color: #ffffff;
				font-weight: normal;
				font-size: 0.7rem;
				&:first-letter {
					text-transform: uppercase;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.footer-widget-bottom {
		.widgettitle {
			display: none;
		}
		ul {
			width: 100%;
			display: block;
			@media screen and (min-width: 992px){
				& {
					display: flex;
					justify-content: center;
				}
			}
			li {
				margin: 0;
				margin-right: .5rem;
			}
		}
	}

	.social-media-container {
		ul {
			display: flex;
			list-style: none;
		}

		li {
			margin-right: 0.7rem;
		}

		.social-media-link {
			color: #ffffff;
		}
	}


}