ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li {
	line-height: $font__line-height-body;
}

// li > ul,
// li > ol {
// 	padding-left: ( 2 * $size__spacing-unit );
// }

dt {
	font-weight: bold;
}

dd {
	margin: 0 $size__spacing-unit $size__spacing-unit;
}
