.widget {

	margin: 0 0 #{$size__spacing-unit*2};

	ul {
		list-style: none;
	}
	li {
		line-height: 1.2;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	a {
		color: $color__link;

		&:hover {
			color: $color__link-hover;
		}
	}
}

